@import "./misc/env";
@import "./misc/mixins";

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: $gray;
}

body {
  font-family: "Montserrat", sans-serif;
}

.ui-btn--active {
  background: $green;
  color: $white;
  height: 30px;
  border-radius: 15px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.ui-btn {
  background: transparent;
  height: 30px;
  border-radius: 15px;
  color: $dark-blue;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
