@mixin ui-reset-btn {
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin rem($size) {
  font-size: $size / $basic-font-size + rem;
}

@mixin ui-btn {
  background: transparent;
  height: 30px;
  border-radius: 15px;
  color: $dark-blue;
  font-weight: bold;
}

@mixin ui-btn--active {
  background: $green;
  color: $white;
}
