.summary__wrap {
  width: 500px;
  height: 700px;
  background: white;
  margin: 0 auto;
  padding: 30px 40px 45px 40px;
}

.summary__btn {
  padding-right: 20px;
  padding-left: 20px;
}

.summary__titles-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.summary__title {
  color: $dark-blue;

  margin-bottom: 20px;
  @include rem(20);
}
.summary__title-main {
  @include rem(25);
  color: $dark-blue;
  font-weight: bold;
  margin-top: 50px;
}
